body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer a {
  margin: 1rem;
}

nav {
  background-color: blue;
  background: linear-gradient(to top, #26F596 0%, #0499F2 100%);
  height: 3rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
  align-self: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

/*  Project Tab Styling */
.cardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card img, .infoCard {
  width: 40rem;
  height: 30rem;
  border-radius: 3rem;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.card button {
  margin: 1rem;
  font-size: 1.75rem;
  border-radius: 1rem;
  width: 10rem;
  background-color: lightgreen;
  color: white;
  border-style: none;
}

.card button:hover {
  background-color: lightblue;
}


/* Description Card */

.infoCard {
  border-style: solid;
  background-color: #FAF9F6;
}
.infoCard li {
  text-align: left;
  margin-bottom: 1rem;
}


.about p {
  padding: 0 10rem;
  text-align: justify;
}
div .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.home img {
  border-radius: 3rem;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px){
  .cardHolder {
    grid-template-columns: 1fr;
  }

  p {
    padding: 2rem;
  }

  .home img {
    width: 80%;
  }

  .card img {
    width: 20rem;
    height: 15rem;
  }
}