body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer a {
  margin: 1rem;
}

nav {
  background-color: lightgreen;
  height: 3rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  align-self: center;
  color: white;
  font-size: 1.5rem;
}

.cardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card img {
  width: 30rem;
  height: 20rem;
  border-radius: 3rem;
}

.card button {
  margin: 1rem;
  font-size: 1.75rem;
  border-radius: 1rem;
  width: 10rem;
  background-color: lightgreen;
  color: white;
  border-style: none;
}

p {
  padding: 0 10rem;
  text-align: justify;
}



.home img {
  border-radius: 3rem;
}

@media only screen and (max-width: 600px){
  .cardHolder {
    grid-template-columns: 1fr;
  }

  p {
    padding: 2rem;
  }

  .home img {
    width: 80%;
  }

  .card img {
    width: 20rem;
    height: 15rem;
  }
}